:root {
        --cor-decor: #46295A;
        --cor-title: #c9c9c9;
        font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;  
}

header {
    width: 100vw;
    height: 20px;
    background-color: var(--cor-decor);
    color: var(--cor-title);
    display: flex;
    justify-content: flex-end;

}

header div {
    width: 260px;
    display: flex;
    margin-right: 30px;
    justify-content: space-around;
}

.container {
    margin: auto;
    flex-direction: column;
    max-width: 1142px;
    padding: 25px;  
}

#banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#banner img {
    width: 140px;
    height: 140px;
}

.menu-list {
    display: flex;
    list-style: none;
    font-size: 20px;
    text-transform: uppercase;
    margin-right: 10px;
}

#button-mobile .icon {
    display: none;
    width: 25px;
    height: 25px;
}

#button-mobile button {
    background-color: transparent;
    border: none;
}

.submenu-mobile li {
    border-bottom: 1px solid #000;
}

.menu-mobile {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
}

.list-mobile {
    padding: 5px;
}

.menu-mobile li {
    align-items: center;
    text-align: center;
    text-decoration: none;
    list-style: none;
    text-transform: uppercase;
    margin: 5px;
    font-weight: bold;
}

.menu-mobile li a {
    font-size: 20px;
    text-decoration: none;
    color: var(--cor-title);
}

.subMobile, 
.subMobile2 {
    display: none;
}

.submenu {
    width: 100px;
    text-decoration: none;
    list-style: none;
    opacity: 0;
    margin-left: -35px;
    position: absolute;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    background-color: var(--cor-decor);
    border-radius: 1px;
}

.dropdown2 {
    color: var(--cor-title);
    font-weight: bold;
    cursor: pointer;
}

.submenu2 {
    width: 100px;
    opacity: 0;
    text-decoration: none;
    list-style: none;
    position: absolute;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    background-color: var(--cor-decor);
    margin-left: 95px;
    bottom: -70px;
    border-radius: 1px;
}

.submenu li:hover {
    background-color: #676767;
}

.submenu2 li:hover {
    background-color: #676767;
}

li:hover ul.submenu {
    opacity: 1;
    z-index: 99;
    visibility: visible;
}

.dropdown2:hover ul.submenu2 {
    opacity: 1;
    z-index: 99;
    visibility: visible;
}

#slider {
    height: 470px;   
}

#slider img {
    width: 1142px;
    height: 470px;
}

#info {   
    display: flex;
    justify-content: space-between;
}

#info h2, #box h2 {
    color:var(--cor-title)
}

#info p {
    font-weight: 400;
}

#info img {
    width: 400px;
    height: 230px;
    margin-right: 10px;
    margin-top: 10px;
}

#box-content {
    display: flex;
    width: 100%;
    height: 300px;
}

.image-box {
    display: flex;
    flex-direction: column
}

.image-box img {
    width: 240px;
    height: 180px;
}

.image-box a {
    text-decoration: none;
    color: #000;
}

footer {
    height: 100px;
    background-color: var(--cor-decor);
    color: var(--cor-title);
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

footer nav ul {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
}

nav ul a {
    list-style: none;
    text-decoration: none;
    margin-right: 20px;
    color: var(--cor-title);
    font-weight: bold;
}

footer p {
    color: #c9c9c9;
}

footer p a {
    color: #c9c9c9;
    text-decoration: none;
}


@media (min-width: 320px) and (max-width: 425px) {

    * {
        overflow-x: hidden;
        font-size: 12px;
    }

    #banner {
        justify-content: space-between;
        align-items: center;
    }

    #banner img {
        width: 60px;
        height: 60px;
    }

    #button-mobile .icon {
        display: block;
        cursor: pointer;
    }

    .menu-list {
        display: none;
        transition: .7s all;
    }

    .openMenu {
        display: block;
    }

    #slider {
        margin-top: 20px;
        width: 85vw;
        height: 150px;
    }

    #info {
        flex-direction: column;
    }

    #info h2, #box h2  {
        font-size: 14px;
        text-align: center;
        color: #000;
    }

    #info img {
        width: 400px;
        height: auto;
        background-position: center;
        background-size: contain;
    }

    #box {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #box-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
    }

    .image-box {
        align-items: center;
        margin-bottom: 5px;
    }

    .image-box img {
        width: 250px;
        height: 210px;
    }

    footer {
        height: 140px;
    }

    footer p {
        font-size: 13px;
        text-align: center;
    }

    footer nav ul li {
       margin-right: 5px;
    }
}


@media (min-width: 426px) and (max-width: 768px) {
  * {
    overflow-x: hidden;
  }
    #banner img {
        width: 90px;
        height: 90px;
    }

    #button-mobile .icon {
        display: block;
        cursor: pointer;
    }

    .menu-list {
        display: none;
        transition: .7s all;
    }

    .openMenu {
        display: block;
    }


    #info {
        align-items: center;
        flex-direction: column;
    }

    #info img {
        width: 650px;
        height: auto;
    }

    #box {
        height: 1000px;
        justify-content: center;
        align-items: center;
    }

    #box h2 {
        text-align: center;
    }

    #box-content {
        flex-direction: column;
        margin-bottom: 20px;
        height: auto;
        align-items: center;
    }

    .image-box {
        margin: 10px;
    }

    .image-box img {
        width: 280px;
        height: auto;
    }

    footer {
        height: 150px;
    }

}


@media (min-width: 769px) and (max-width: 1075px) {
    header {
        width: 100%;
    }

    .image-box img {
        width: 220px;
        height: auto;
    }

    #box {
        align-items: center;
    }

    .image-box {
        margin: 10px;
    }
}


@media (min-width: 1441px) and (max-width: 2560px) {
    * {
        font-size: 30px;
    }

    header {
        height: 70px;
        font-size: 50px;
        align-items: center;
    }

    header div {
        width: 800px;
    }

    #slider {
        width: 55vw;
        height: 600px;
    }

    .submenu, .submenu2 {
        width: 300px;
    }
    
    .submenu2 {
        margin-left: 110px;
        margin-top: 20px;
    }

    #info h2, #box h2 {
        color: #000;
        font-size: 35px;
        text-align: center;
    }

    .image-box img {
        width: 320px;
        height: auto;
        margin: 10px;
    }

    #box-content {
        margin-bottom: 50px;
    }

    footer {
        height: 250px;
    }
}